In [1]:
import pandas as pd

In [2]:
# functions

In [3]:
def convert_height_in_feet_string_to_cm_double(height_in_feet):
    
    if(len(height_in_feet)<2): # exception if height is 0
        return height_in_feet
    
    height_in_feet_cleaned = height_in_feet.replace("'","").replace('"', "")
    
    feet = height_in_feet_cleaned.split()[0]
    inches = height_in_feet_cleaned.split()[1]
    
    # 1 foot = 30.48 cm
    feet_to_cm = float(feet) * 30.48
    
    # 1 inch = 2.54 cm
    inch_to_cm = float(inches) * 2.54
    
    total_height = feet_to_cm + inch_to_cm
    
    return total_height

In [4]:
def convert_reach_in_inches_string_to_cm_double(reach_in_inches):
    if(len(reach_in_inches)<2): # exception if height is 0
        return reach_in_inches
    
    reach_in_inches_cleaned = reach_in_inches.replace('"', "")
    
    # 1 inch = 2.54 cm
    inch_to_cm = float(reach_in_inches_cleaned) * 2.54
    total_reach = inch_to_cm

    return total_reach

In [5]:
df = pd.read_csv('ufc_fighters.csv')

In [6]:
df = df[1:] # remove first row

In [7]:
df = df.fillna(0) # replace NaN with 0

In [8]:
df = df.replace(to_replace='--', value = '0', regex=True) # replace '--' string with 0

In [9]:
df['Wt.'] = df['Wt.'].replace(to_replace=' lbs.', value = '', regex=True) # clean weight column

In [10]:
df['Ht.'] = df['Ht.'].apply(convert_height_in_feet_string_to_cm_double) # convert Ht. feet string to cm double

In [12]:
df['Reach'] = df['Reach'].apply(convert_reach_in_inches_string_to_cm_double)

In [13]:
df = df.rename(columns={'Wt.': 'Weight in lbs', 'Ht.': 'Height in cm', 'Reach': 'Reach in inches'}) # change weight, height column name

In [14]:
df

,First,Last,Nickname,Height in cm,Weight in lbs,Reach in inches,Stance,W,L,D,Belt
1,Tom,Aaron,0,0,155,0,0,5.0,3.0,0.0,0.0
2,Danny,Abbadi,The Assassin,180.34,155,0,Orthodox,4.0,6.0,0.0,0.0
3,Nariman,Abbasov,0,172.72,155,0,0,27.0,3.0,0.0,0.0
4,David,Abbott,Tank,182.88,265,0,Switch,10.0,15.0,0.0,0.0
5,Hamdy,Abdelwahab,The Hammer,187.96,264,182.88,Southpaw,6.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3872,Dave,Zitanick,0,0,170,0,0,5.0,7.0,0.0,0.0
3873,Alex,Zuniga,0,0,145,0,0,6.0,3.0,0.0,0.0
3874,George,Zuniga,0,175.26,185,0,0,3.0,1.0,0.0,0.0
3875,Allan,Zuniga,Tigre,170.18,155,177.8,Orthodox,13.0,1.0,0.0,0.0
3876,Virgil,Zwicker,RezDog,187.96,205,187.96,0,15.0,6.0,1.0,0.0

In [15]:
df.to_csv('2_ufc_fighters_cleaned.csv', index=False)